.screenings-page {
  text-align: center;
  padding: 20px;
  padding-top: 2rem;
}

.screening-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolumny, każda o równej szerokości */
  gap: 20px; /* Odstęp między kafelkami */
  justify-items: center; /* Centrowanie elementów w każdej komórce */
  margin-top: 20px;
}

.screening-item {
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.poster-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.screening-info {
  margin-top: 10px;
}

.screening-info h2 {
  font-size: 1.2rem;
}

.screening-info button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}